import 'dart:math';

void main() {
  Random random = Random();
  int number = random.nextInt(100); // Generates a random number between 0 and 99

  print("Generated number: \$number");
  if (number % 2 == 0) {
    print("The number is even.");
  } else {
    print("The number is odd.");
  }
}
